@charset "UTF-8";


@import 'https://fonts.googleapis.com/css?family=Cinzel';
@import 'https://fonts.googleapis.com/css?family=Gidugu';
@import 'https://fonts.googleapis.com/css?family=Rock+Salt';
@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';


/*body{
	background: #1a0e2d;
}*/

.menu ul {
	list-style: none;
	background-color: #312450;
	position: fixed;
	float: left;
	left: 0px;
	top: -20px;
	bottom: -20px;
	box-shadow: 0px 0px 15px black;
}

.menu li.um{
	margin-top: 150px;
}

.menu li{
	padding: 20px;
	margin-right: 30px;
	font-family: 'Cinzel', serif;
	margin-left: -35px;
	padding-left: 50px;
	transition: background-color 3s;
	transition: box-shadow 1s;
}

.menu li:hover{
	box-shadow: 0px 0px 15px black;
}


.menu a{
	color: #FAF0E6;
	text-decoration: none;
	margin: 10px;
	padding-bottom: 2px;
	transition: color 5s;
}

.menu a:hover{
	color: black;
}

.menu a:active {
	color: white;
}

section.bv, section.quem, section.cert, section.projetos{
	width: 800px;
	margin: -20px auto 10px 250px;
	padding-bottom: 10px;
	padding-right: 290px;
	font-size: 17px;
	text-align: justify;
}

section.bv h2, section.quem h2, section.cert h2, section.projetos h2 {

	font-family: 'Rock Salt', cursive;
}

ul.foto {
	list-style: none;
	padding: 50px;
	margin: 0px auto;
	overflow: hidden;
	width: 700px;
}

ul.foto li span{
	opacity: 0;
	padding: 5px;
	font-size: 12pt;
	line-height: 370px;
	background-color: rgba(0,0,0,.2);
	text-shadow: 2px 1px 1px black;
	color: #ffffff;

}

ul.foto li:hover span {
	opacity: 1;

}

ul.foto li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid white;
	border-radius: 10%;
	background-color: #ffffff;
	box-shadow: 3px 3px 10px black;
	-webkit-transition: all 0.5s ease-in;
}

section.quem li.foto01{
	background: url('../img/foto1.jpg') no-repeat;
	background-position: 35% 20%;
	background-size: 400px 400px;
	background-color: white;
}

section.quem li.foto01:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;

}

ul.foto li:hover {
	-webkit-transform: scale(1.5);
}